* {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  background-color: #20202b;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 1;
  font-size: 16px;
}

span {
  font-family: 'Courier New', Courier, monospace;
}
